{% extends "base.html" %}
{% block title %} main {% endblock %}

{% block content %}

<style>
    .ol-popup {
        position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        /* padding: 15px; */
        border-radius: 10px;
        /* border: 1px solid #cccccc; */
        bottom: 12px;
        left: -110px;
        min-width: 220px;
    }

    .ol-popup:after,
    .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 110px;
        margin-left: -10px;
    }

    .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 110px;
        margin-left: -11px;
    }

    .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 8px;
        right: 8px;
    }
</style>

<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer">
        <i class="fa-solid fa-circle-xmark"></i>
    </a>
    <div id="popup-content">
    </div>
</div>


<div class="container mt-6	">
    <h1 class="title">
        Open Layers
    </h1>
    <p class="subtitle">
        Simple Open Layers Application, using FastAPI, Open Layers, Bulma, Python, Javascript, Docker Compose,
        SQLAlchemy
    </p>
    <div class="tabs">
        <ul>
            <li><a>Add +</a></li>
            <li class="is-active"><a>Buy</a></li>
            <li><a>Rent</a></li>

        </ul>
    </div>
    <form id="form">




        <div class="columns">
            <div class="column">
                <label class="label is-small">Title</label>
                <div class="control">
                    <input id="title" class="input is-small" type="text" placeholder="Title">
                </div>
            </div>
        </div>

        <div class="columns">
            <div class=" column">
                <label class="label is-small">Type</label>
                <div class="control">
                    <select class="input is-small">
                        <option value="Buy">Buy</option>
                        <option value="Rent">Rent</option>
                    </select>
                </div>
            </div>


            <div class=" column">
                <label class="label is-small">Price (€)</label>
                <div class="control">
                    <input id="price" class="input is-small" type="text" placeholder="Price">
                </div>
            </div>

            <div class="column">
                <label class="label is-small">Area (m<sup>2</sup>)</label>
                <div class="control">
                    <input id="area" class="input is-small" type="text" placeholder="Area">
                </div>
            </div>

            <div class="column">
                <label class="label is-small">Latitude</label>
                <div class="control">
                    <input id="lat" class="input is-small" type="text" placeholder="From price">
                </div>
            </div>

            <div class="column">
                <label class="label is-small">Longitude</label>
                <div class="control">
                    <input id="lon" class="input is-small" type="text" placeholder="From price">
                </div>
            </div>

            <div class="column">
                <button type="button" class="button is-light is-small is-fullwidth mt-5" onclick="get_data()">
                    <span class="icon"><i class="fa-solid fa-plus"></i></span>
                </button>
            </div>

        </div>

        <div class="columns">
            <div class="column">
                <label class="label is-small">From price (€)</label>
                <div class="control">
                    <input id="from_price" name="from_price" type="number" class="input is-small"
                        placeholder="From price">
                </div>
            </div>
            <div class="column">
                <label class="label is-small">To price (€)</label>
                <div class="control">
                    <input id="to_price" name="to_price" type="number" class="input is-small" placeholder="To price">
                </div>
            </div>

            <div class="column">
                <label class="label is-small">From area (m<sup>2</sup>)</label>
                <div class="control">
                    <input class="input is-small" type="number" placeholder="To price">
                </div>
            </div>

            <div class="column">
                <label class="label is-small">To area (m<sup>2</sup>)</label>
                <div class="control">
                    <input class="input is-small" type="number" placeholder="To price">
                </div>
            </div>

            <div class="column">
                <label class="label is-small">Max Price / Area</label>
                <div class="control">
                    <input class="input is-small" type="number" placeholder="Max Price per Area">
                </div>
            </div>

            <div class="column">
                <button type="button" class="button is-light is-small is-fullwidth mt-5" onclick="get_data()">
                    <span class="icon"><i class="fa fa-search"></i></span>
                </button>
            </div>
        </div>


    </form>
</div>

<div class="container.is-widescreen	mt-5" style="overflow: hidden">
    <div id="map" class="map">
    </div>
</div>

<div class="container py-3">
    <footer class="pt-3 my-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">&copy; 2022</small>
            </div>

        </div>
    </footer>
</div>

{% endblock %}